label {
    font-size:12px;
    margin-bottom: 0;
    margin-left: 5px;
}

input {
    font-size:12px;
    padding: .375rem .45rem;
}

.validation-error {
    font-size:10px;
}

.uppercase {
    text-transform: uppercase;
}