<div class="container">
    <nav class="mt-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item active">Listagem de Consultas</li>
        </ol>
    </nav>

    <div class="row mt-3">
        <div class="col-md-8">
            <h1><i class="fa fa-print text-danger" aria-hidden="true"></i> 
                Listagem de Consultas
            </h1>
        </div>
    </div>

    <app-consultas-listagem-det [consultas]="consultas"></app-consultas-listagem-det>

</div>