<div class="container-fluid">

    <!-- NAV BREADCRUMB -->
    <nav class="mt-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item"><a routerLink="/agenda">Agendamento</a></li>
            <li class="breadcrumb-item active">Dados do Agendamento</li>
        </ol>
    </nav>
    
    <!-- TITULO, VOLTAR E BOTÃO IMPRIMIR -->
    <div class="row my-3">
        <div class="col-md-8">
            <h3><i class="fa fa-laptop-medical text-danger" aria-hidden="true"></i> 
                Agendamento
            </h3>
        </div>
        <div class="col-md-3">
            <a routerLink="/agenda" class="btn btn-success bt-sm float-right mt-2" style="font-size:10px">
                << Voltar </a>
        </div>
        <div class="col-md-1">
            <h4>
                <a href="javascript:window.print()" class="fa fa-print text-primary float-right mt-3 mr-3" aria-hidden="true"></a>
            </h4>
        </div>
    </div>


    <!-- SELEÇÃO DE MEDICO PARA O AGENDAMENTO -->
    <!-- <div class="row mt-4 mb-3">  
        <div class="col-md-6">
            <form [formGroup]="formMedico">
                <h4> Médico(a): </h4>
                
                <select class="form-control mt-1 mr-4" formControlName="idMedico" id="idMedico">
                    <option *ngFor="let medico of medicos" value="{{medico.idMedico}}">{{medico.nomeMedico}}</option>
                </select>
                
                <button class="btn btn-dark mt-3"
                    (click)="procuraData()" 
                    [disabled]="!formMedico.valid">
                    Confirma
                </button>
            </form>
        </div>
    </div> -->

<!--     
    {{form.valid}}
    {{form.value | json}} 
-->    

    <form [formGroup]="form">

        <div class="card mb-5">
            <div class="card-header"> 
                <strong class="text-danger">{{contato.nome}}</strong> | Telefone : {{contato.telefone}}
            </div>
            <div class="card-body">

<!-- 
                <input type="hidden" class="form-control" formControlName="idPacienteConsulta" id="idPaciente">
                <input type="hidden" class="form-control" formControlName="idEmpresaConsulta" id="idPaciente"> 
-->

                <div class="form-row">
                    <div class="form-group col-md-5">
                        <label for="idMedicoConsulta">Médico</label>
                        <select class="form-control mt-1 mr-4" formControlName="idMedicoConsulta" id="idMedicoConsulta">
                            <option *ngFor="let medico of medicos" value="{{medico.idMedico}}">{{medico.nomeMedico}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="dataConsulta">Data</label><br>
                        <input type="date" class="form-control" formControlName="dataConsulta" id="dataConsulta">
                    </div>

                    <div class="form-group col-md-3">
                        <label for="horaConsulta">Hora</label><br>
                        <input type="time" class="form-control" formControlName="horaConsulta" id="horaConsulta">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="queixaPrincipalConsulta">Queixa Principal</label>
                        <input type="text" class="form-control" formControlName="queixaPrincipalConsulta" id="queixaPrincipalConsulta">
                    </div>
                </div>

                <button type="button" 
                        [disabled]="!form.valid"
                        (click)="submitForm()" 
                        class="btn btn-primary btn-md float-right mt-2"
                        style="font-size: 12px">
                    S a l v a r
                </button>
            </div>
        </div>


    </form>
</div>