<table class="table table-hover mt-5">
  <ng-container *ngFor="let medico of consultas[0]">

    <thead>
      <tr class="bg-primary text-light">
        <th>Medico</th>
        <th>Paciente</th>
        <th>Data Agendada</th>
        <th>Motivo Consulta</th>
        <th>Telefone</th>
        <th>Pai</th>
        <th>Mãe</th>
      </tr>
    </thead>

    <p> <strong> {{medico.nomeMedico}} </strong> </p>

    <tbody>
      <tr *ngFor="let consulta of medico.consultas">
        <td></td>
        <td>{{consulta.nome}}</td>
        <td>{{consulta.dataConsultaFrm}} - {{consulta.horaConsulta}}</td>
        <td>{{consulta.motivoConsulta}}</td>
        <td>{{consulta.telefone}}</td>
        <td>{{consulta.paiNome}}</td>
        <td>{{consulta.maeNome}}</td>
      </tr>
    </tbody>

  </ng-container>
</table>