<div class="container">

    <!-- NAV BREADCRUMB -->
    <nav class="mt-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item active">Medicos</li>
        </ol>
    </nav>

    <!-- TITULO E BOTÃO DE AGENDAMENTO -->
    <div class="row mt-3">
        <div class="col-md-9">
            <h1><i class="fa fa-laptop-medical text-danger" aria-hidden="true"></i> 
                Consultas: {{nomeMedico}}
            </h1>
        </div>
        <div class="col-md-3">
            <a routerLink="/agenda" class="btn btn-success bt-sm float-right mt-2">
                Agendamento
            </a>
        </div>
    </div>

    <!-- SELEÇÃO DE DATA PARA LISTA DE CONSULTAS -->
    <div class="row">  
        <div class="col-md-2">
            <form [formGroup]="searchForm">
                <div class="form-group mt-2">
                    <input type="date" 
                            formControlName="searchDate" 
                            class="form-control" 
                            placeholder="Data Consulta" 
                            style="font-size: 14px;">
                </div>
            </form>
        </div>
        <div class="col-md-2">
            <button class="btn btn-dark mt-2"
                (click)="procuraData()" 
                [disabled]="!searchForm.valid">
                <i class="fa fa-hand-point-left"></i>
                Confirma
            </button>
        </div>
    </div>

    <!-- LISTA DE CONSULTAS POR DATA/HORA -->
    <table class="table table-hover">
        <thead>
            <tr class="bg-primary text-light">
                <th>Data</th>
                <th>Hora</th>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Motivo</th>
                <th class="widthAcoes">Ações</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let consulta of consultas">
                <td><strong>{{consulta.dataConsultaFrm}}</strong></td>
                <td>{{consulta.horaConsulta}}</td>
                <td>{{consulta.nome}}</td>
                <td>{{consulta.telefone}}</td>
                <td>{{consulta.motivoConsulta}}</td>
                <td class="widthAcoes">
                    <h5> 
                        <a class="fa fa-edit pointer mr-3 text-primary"
                            (click)="edit(consulta)">
                        </a> 
                    
                        <a class="fa fa-trash-alt pointer text-danger"
                            (click)="delete(consulta)">
                        </a>
                    </h5>
                </td>
            </tr>
            
        </tbody>
    </table>
</div>