<div class="container">
  <section class="content-header my-4">
    <h1>Sobre</h1>
  </section>

  <section class="content">
    <h5>ClinicaNet</h5>

    <p class="small">Copyright 2001 / ANR Sistemas</p>

    <p class="small mt-4">
        O ANR Pacientes Web é um Sistema de Gestão de Pacientes e Consultas para micro e pequenas clinicas. 
    </p>
    <p class="small">
          Sua plataforma permite que os profissionais de saude organizem a gestão do seus pacientes com segurança, facilidade, agilidade e eficiência.
    </p>
    <p class="small">
        São diversas ferramentas que possibilitam o controle total sobre os atendimentos e cadastro de pacientes. 
    </p>
    <p class="small">    
        O sistema permite o cadastramento de pacientes, historico de atendimentos e impressão de listagens. 
    </p>

    <p class="small mt-5">
      Imagens usadas na aplicação por <a href="http://www.freepik.com" target="_blank">freepik.com</a>
    </p>

  </section>
</div>
