.table td, .table th {
    padding: .25rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    font-size: 10px;
}

.fs-bt-acoes {
    font-size: 14px;
}

.w90 {
    width: 70px;
}

.w120 {
    width: 120px;
}

.pointer {
     cursor: pointer;
}