<div class="container-fluid">
    
    <app-listagem-header [pageTitle]="pageTitle"></app-listagem-header>

    <table class="table table-hover mt-4">
        <thead>
            <tr class="bg-primary text-light">
                <th>
                    Nome <br> 
                    Endereço <br> 
                    Nome do Pai <br> 
                    Nome da Mãe
                </th>
                
                <th>
                    Telefone <br> 
                    Sexo <br> 
                    Telefone do Pai <br> 
                    Telefone da Mãe
                </th>

                <th>
                    Data Nasc. <br> 
                    E-mail <br> 
                    Profissão do Pai <br> 
                    Profissão da Mãe
                </th>
            </tr>
        </thead>
        
        <tbody>
            <tr *ngFor="let contato of contatos">
                <td>
                    <strong>{{contato.nome}}</strong> <br> 
                    {{contato.endereco}}, {{contato.numero}} - Bairro: {{contato.bairro}}, {{contato.cidade}}, {{contato.estado}} <br> 
                    {{contato.paiNome}} <br>
                    {{contato.maeNome}}
                </td>
                <td>
                    {{contato.telefone}} <br> 
                    {{contato.sexo}} <br> 
                    {{contato.paiTelefone}} <br>
                    {{contato.maeTelefone}}
                </td>
                <td>
                    {{contato.dataNasc}} <br> 
                    {{contato.email}} <br> 
                    {{contato.paiProfissao}} <br>
                    {{contato.maeProfissao}}
                </td>
            </tr>
        </tbody>
    </table>
</div>