<div class="container">
  <nav class="mt-3">
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
          <li class="breadcrumb-item"><a routerLink="/consulta">Seleção de Pacientes</a></li>
          <li class="breadcrumb-item active">Cadastro de Consulta</li>
      </ol>
  </nav>
  
  <div class="row my-3">
      <div class="col-md-9">
          <h1><i class="fa fa-laptop-medical text-danger" aria-hidden="true"></i> 
              Receituario
          </h1>

          <p class="text-dark">
            <br><br>
            Para : Paciente Fulando de Tal <br><br>
            Peso : 99 KG <br>
            Altura : 1,2 MT <br>
          </p>
      </div>
      <div class="col-md-3">
        <a href="javascript:window.print()" class="fa fa-print text-primary mt-3 mr-2" aria-hidden="true"></a>  
        <a routerLink="/consulta" class="btn btn-success bt-sm float-right mt-2">
              << Voltar
          </a>
      </div>
  </div>

  
  <div class="card">
    <div class="card-header">
        <strong class="text-danger">Motivo Consulta : {{consulta.motivoConsulta}}</strong>
    </div>
    <div class="card-body">
      <p>
          {{consulta.prescricaoConsulta}}
      </p>
      <p>
          {{consulta.prescricao2Consulta}}
      </p>
      <p>
          {{consulta.prescricao3Consulta}}
      </p>
    </div>
  </div>

  <br><br><br><br> 
  <p class="text-right">
      Dr. André Sena da Silva <br>
      Pediatra <br>
      CRM SP 10000 <br>
      Av. Cavalheiro Ernesto Giuliana, 320 <br>
      Bairro Santa Maria, SCS, SP 
      Telefone : (11) 3456-3456
    </p>
    
</div>

