<div class="container-fluid">
    
    <app-listagem-header [pageTitle]="pageTitle"></app-listagem-header>

    <div class="mt-1">
        <h4 class="text-danger">
            {{contato.nome}}
        </h4>
    </div>

    <table class="table table-hover">
        <thead>
            <tr class="bg-primary text-light">
                <th>Data / Hora</th>
                <th>Medico</th>
                <th>Queixa Principal</th>
                <th>História Doença Atual</th>
                <th>Exame Fisico</th>
                <th>Hipotese Diagnóstica</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let consulta of consultas" class="pointer" (click)="remarcacao(consulta)">
                <td><strong>{{consulta.dataConsultaFrm}} {{consulta.horaConsulta}}</strong></td>
                <td>{{consulta.nomeMedico}}</td>
                <td>{{consulta.queixaPrincipalConsulta}}</td>
                <td>{{consulta.historiaDoencaAtualConsulta}}</td>
                <td>{{consulta.exameFisicoConsulta}}</td>
                <td>{{consulta.hipoteseDiagnosticaConsulta}}</td>
            </tr>
        </tbody>
    </table>

</div>