.ng-invalid.ng-touched:not(form) {
    border: 1px solid red;
}

label {
    margin-bottom: 0;
    margin-left: 5px;
    font-size:10px;
}

input {
    padding: .375rem .45rem;
}

input, select, .validation-error {
    font-size: 10px;
}

/* .validation-error {
    font-size:10px;
} */

.ico-ne-size {
    font-size: 24px;
}

.uppercase {
    text-transform: uppercase;
}

.input-group-text {
    /* font-size: 0.7rem; */
    line-height: 1.0;
}

::-webkit-input-placeholder {
    color: orange;
    font: 10px verdana, arial, sans-serif;
 }
 
 :-moz-placeholder {
    color: orange;
    font: 10px verdana, arial, sans-serif;
 }
 
 ::-moz-placeholder {
    color: orange;  
    font: 10px verdana, arial, sans-serif;
 }
 
 :-ms-input-placeholder {  
    color: orange;  
    font: 10px verdana, arial, sans-serif;
 }