.ng-invalid.ng-touched:not(form) {
    border: 1px solid red;
}

label {
    font-size:12px;
    margin-bottom: 0;
    margin-left: 5px;
}

input {
    /* font-size:12px; */
    padding: .375rem .45rem;
}

.validation-error {
    font-size:10px;
}

.icone-size {
    font-size: 24px;
}

.uppercase {
    text-transform: uppercase;
}

.input-group-text {
    font-size: 0.7rem;
    line-height: 1.0;
}

::-webkit-input-placeholder {
    color: orange;
    font: 12px verdana, arial, sans-serif;
 }
 
 :-moz-placeholder {
    color: orange;
    font: 12px verdana, arial, sans-serif;
 }
 
 ::-moz-placeholder {
    color: orange;  
    font: 12px verdana, arial, sans-serif;
 }
 
 :-ms-input-placeholder {  
    color: orange;  
    font: 12px verdana, arial, sans-serif;
 }