<div class="container">
  <section class="content-header my-4">
    <h1>Sobre</h1>
  </section>

  <section class="content">
    <h3>AtendWeb</h3>

    <p>Copyright 2019 / ANR Sistemas</p>

    <p class="mt-4">
        O AtendWeb é um Sistema de Gestão de Pacientes e Consultas para micro e pequenas clinicas. 
    </p>
    <p class="mt-4">
          Sua plataforma permite que os profissionais de saude organizem a gestão do seus pacientes com segurança, facilidade, agilidade e eficiência.
    </p>
    <p>
        São diversas ferramentas que possibilitam o controle total sobre os atendimentos e cadastro de pacientes. 
    </p>
    <p>    
        O sistema permite o cadastramento de pacientes, historico de atendimentos e impressão de listagens. 
    </p>

    <p class="mt-5">
      Imagens usadas na aplicação por <a href="http://www.freepik.com" target="_blank">freepik.com</a>
    </p>

  </section>
</div>
