<div class="container-fluid bg-gradient">
    <br><br>
    <section class="content-header">
        <h2>Sobre</h2>
    </section>

    <section class="content">
        <h5 class="my-4">AtendWeb</h5>

        <p>Copyright 2019 / ANR Sistemas</p>

        <p class="my-5">
            O Atend-Web é um Sistema de Gestão de Pacientes e Consultas para micro e pequenas clinicas. 
        </p>
        <p>
            Sua plataforma permite que os profissionais de saude organizem a gestão do seus pacientes com segurança, facilidade, agilidade e eficiência.
        </p>
        <p>
            São diversas ferramentas que possibilitam o controle total sobre os atendimentos e cadastro de pacientes. 
        </p>
        <p>    
            O sistema permite o cadastramento de pacientes, historico de atendimentos e impressão de listagens. 
        </p>

        <p class="mt-5">
            Manual do Usuário :  <a href="http://www.anrsistemas.com.br/DV/ManualAtendWeb.pdf" target="_blank">Clique aqui !!</a>
        </p>

    </section>
</div>
