<div class="container-fluid">
  <nav class="mt-3">
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
          <li class="breadcrumb-item active">Pacientes</li>
      </ol>
  </nav>

  <div class="row mt-3">
      <div class="col-md-8">
          <h3><i class="fa fa-laptop-medical text-danger" aria-hidden="true"></i> 
            Pacientes
          </h3>
      </div>
      <div class="col-md-3">
          <a routerLink="/paciente/new" class="btn btn-success bt-sm float-right mt-1" style="font-size: 10px">
              + Paciente
          </a>
      </div>
      <div class="col-md-1">
          <h5><a (click)="toggleSearch()" class="search-link" style="float:right;">
              <i class="fa fa-search float-right mt-2 mr-3"></i></a>
          </h5>
      </div>
  </div>

  <div class="row">
      <div class="col-md-6">
      </div>
      <div class="col-md-6">
          <div class="search-bar" [@toggleSearch]="searchBarState">
              <form [formGroup]="searchForm">
                  <div class="form-group mr-3">
                      <input type="text" formControlName="searchControl" class="form-control" 
                             placeholder="O que voce esta procurando ?" style="font-size: 12px;">
                  </div>
              </form>
          </div>
      </div>
  </div>

  <table class="table table-hover">
      <thead>
          <tr class="bg-primary text-light">
              <th>Nome</th>
              <th>Telefone</th>
              <th>Sexo</th>
              <th>Data Nasc.</th>
              <th>Nome Pai</th>
              <th>Nome Mãe</th>
              <th class="widthAcoes">Ações</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let contato of contatos" class="pointer" (click)="edit(contato)">
              <td><strong>{{contato.nome}}</strong></td>
              <td>{{contato.telefone}}</td>
              <td>{{contato.sexo}}</td>
              <td>{{contato.dataNasc}}</td>
              <td>{{contato.paiNome}}</td>
              <td>{{contato.maeNome}}</td>
              <td class="widthAcoes">
                    <!-- <a class="fa fa-edit pointer mr-3 text-primary"
                        (click)="edit(contato)"> </a>  -->
                    <a class="fa fa-trash-alt pointer text-danger" style="font-size:16px"
                        (click)="delete(contato)"> </a>
              </td>
          </tr>
      </tbody>
  </table>
</div>