label, .card-header-input {
    font-size:12px;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 5px;
}

.card-header-input {
    padding: .10rem 1.25rem;
}
.card-body {
    padding: 0.05rem 1.0rem;
}

.input-group-text {
    font-weight: bold;
}

input {
    /* font-size:12px; */
    padding: .375rem .45rem;
}

input, select, textarea, .validation-error {
    font-size:10px;
}

.icone-size {
    font-size: 24px;
}

.input-group-text {
    font-size: 0.7rem;
    line-height: 1.0;
}