<div class="container-fluid">
    <nav class="mt-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item"><a routerLink="/consulta">Agendamento</a></li>
            <li class="breadcrumb-item active">Consulta</li>
        </ol>
    </nav>
  
    <div class="row my-3">
        <div class="col-md-8">
            <h3><i class="fa fa-laptop-medical text-danger" aria-hidden="true"></i> 
                Consulta
            </h3>
        </div>
        <div class="col-md-2">
            <a routerLink="/consulta" 
                class="btn btn-success bt-sm float-right mt-2" 
                style="font-size:10px">
                << Voltar
            </a>
        </div>
        <div class="col-md-1">
            <h5>
                <a href="javascript:window.print()" 
                    class="fa fa-print text-primary float-right mt-3 mr-3" 
                    aria-hidden="true"></a>
            </h5>
        </div>
    </div>

<!--     
    {{form.valid}}
    {{form.value | json}}  
-->
    

    <form [formGroup]="form">
        <div class="card mb-5">
            <div class="card-header">
                <strong>
                    <span class="text-danger"> Consulta : </span>
                    <span class="text-dark">   {{dataConsult}}, {{horaConsult}} </span>
                    <span class="text-danger"> - Paciente : </span> 
                    <span class="text-dark">   {{nomePacient}} </span> 
                </strong>
            </div>

            <div class="card-body">

<!-- 
                <input type="hidden" class="form-control" formControlName="idConsulta">
                <input type="hidden" class="form-control" formControlName="idPacienteConsulta">
                <input type="hidden" class="form-control" formControlName="idEmpresaConsulta">
                <input type="hidden" class="form-control" formControlName="idMedicoConsulta">
                <input type="hidden" class="form-control" formControlName="dataConsulta">
                <input type="hidden" class="form-control" formControlName="horaConsulta"> 
-->



                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="queixaPrincipalConsulta">Queixa Principal</label>
                        <input type="text" class="form-control" formControlName="queixaPrincipalConsulta" id="queixaPrincipalConsulta">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label for="pesoConsulta">Peso</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">KG</div>
                            </div>
                            <input [imask]="imaskConfig" type="text" class="form-control text-center" formControlName="pesoConsulta" id="pesoConsulta">
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="alturaConsulta">Altura</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">MT</div>
                            </div>
                            <input [imask]="imaskConfig" type="text" class="form-control text-center" formControlName="alturaConsulta" id="alturaConsulta">
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="cabecaConsulta">Circ.Cabeça</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">CM</div>
                            </div>
                            <input [imask]="imaskConfig" type="text" class="form-control text-center" formControlName="cabecaConsulta" id="cabecaConsulta">
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="historiaDoencaAtualConsulta">História Doença Atual</label>
                        <input type="text" class="form-control" formControlName="historiaDoencaAtualConsulta" id="historiaDoencaAtualConsulta">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="prescricaoConsulta">Prescrição</label>
                        <textarea rows="4" cols="50" maxlength="500" class="form-control" formControlName="prescricaoConsulta" id="prescricaoConsulta"></textarea>
                    </div>
                </div>

                <button type="button" 
                    [disabled]="!form.valid"
                    (click)="submitForm()" 
                    class="btn btn-primary btn-md float-right mt-2"
                    style="font-size: 12px">
                    S a l v a r
                </button>
            </div>
        </div>


    </form> 
</div>