<div class="container-fluid body bg-gradient">
    <div class="row">
        <div class="col-12 text-center mt-5">
            <br><br>
            <h1><i class="fa fa-laptop-medical text-danger" aria-hidden="true"></i> 
                AtendWeb
            </h1>

            <h4 class="mt-5">
                <b>Controle de Pacientes !!</b>
            </h4>

            <a class="btn btn-primary btn-lg mt-5" [routerLink]="['/consulta/0/lista']">
                Entrar
            </a>
        </div>
    </div>
</div>
