<div id="content" class="container">
    
    <div class="row header mt-3 mb-4">
        <div class="col">
            <h1><i class="fas fa-hospital-alt text-danger mr-3" aria-hidden="true"></i>
                <span *ngIf="empresa">{{ empresa.razaoSocialEmpresa }}</span>
            </h1>
            <hr class="mt-3" style="border: 3px solid black;">
        </div>
    </div>

    <div class="row title-buttons mb-2 mt-3">
        <div class="col-8">
            <h2><i class="fa fa-laptop-medical text-danger" aria-hidden="true"></i>
                Atestado
            </h2>
        </div>
        <div class="col-4">
            <div class="float-right">
                <button class="btn btn-10px mt-2 mr-4" onClick="javascript:window.print()">
                    <i class="fa fa-print text-primary"></i>
                </button>
                <button class="btn btn-12px btn-success mt-2 mr-1" (click)="btVoltar()">
                    V o l t a r
                </button>
            </div>
        </div>
    </div>

    <div class="row form-data-print mt-4">  
        <div class="col-md-3 font-size12">
            <form [formGroup]="atestadoForm">
                <div class="form-group mt-2">
                    <label for="fDataConsulta">Data Consulta : </label>
                    <input type="date" class="form-control font-size12" formControlName="fDataConsulta" placeholder="Data Consulta">
                </div>
                <div class="form-group mt-2">
                    <label for="fHoraIniConsulta">Hora Inicio Consulta : </label>
                    <input type="time" class="form-control font-size12" formControlName="fHoraIniConsulta" placeholder="Hora Inicio Consulta">
                </div>
                <div class="form-group mt-2">
                    <label for="fHoraFinConsulta">Hora Final Consulta : </label>
                    <input type="time" class="form-control font-size12" formControlName="fHoraFinConsulta" placeholder="Hora Final Consulta">
                </div>
            </form>

            <button class="btn btn-sm btn-12px btn-dark mt-2 ml-3"
                    (click)="confirma()"
                    [disabled]="!atestadoForm.valid">
                <i class="fa fa-hand-point-left"></i>
                Confirma
            </button>
        </div>
    </div>

    <div class="row content-print font-size36 my-5 mx-5">
        <div *ngIf="contato">
            Atesto para os devidos fins que {{ consulta.nome }}, 
            portador do documento {{ contato.certidaoNasc }}, 
        </div>
        esteve sob meus cuidados médicos no dia {{ dataConsultaFrm }},
        das {{ horaIniConsulta }} às {{ horaFinConsulta }} horas.
    </div>

    <div class="footer-print medic-info">
        <hr class="my-2" style="border: 4px solid black;">
        <p class="text-right">
            <strong>
                <span *ngIf="medico">{{ medico.nomeMedico }}</span> <br>
                <span *ngIf="medico">{{ medico.especialidadeMedico }}</span> <br>
            </strong>
            <span *ngIf="medico">{{ medico.crmMedico }}</span> <br>
            <span>{{ endereco1Empresa }}</span> <br>
            <span>{{ endereco2Empresa }}</span>
        </p>    
    </div>
    
</div>