<nav class="mt-3">
  <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
      <li class="breadcrumb-item active">{{pageTitle}}</li>
  </ol>
</nav>

<div class="row mt-3">
  <div class="col-md-11">
      <h2><i class="far fa-copy text-danger" aria-hidden="true"></i> 
        {{pageTitle}}
      </h2>
  </div>
  <div class="col-md-1">
      <h4>
        <a href="javascript:window.print()" 
          class="fa fa-print text-primary float-right mt-3 mr-3" 
          aria-hidden="true"></a>
      </h4>
  </div>
</div>