/* You can add global styles to this file, and also import other style files */

html, body {
     height: 100%;
    };

body { 
    margin: 0; font-family: 'Roboto', sans-serif;
}

.body {
    min-height: 100vh; 
    /* background-color: rgba(154, 214, 240, 0.911)" */

    font-family: 'Lato', sans-serif;
    background: linear-gradient(to right, rgb(22, 34, 42), rgb(58, 96, 115));
    color: #FFF;
}

.breadcrumb {
    font-size: 12px;
}

.table td, .table th {
    padding: .10rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    font-size: 10px;
}

.btn-sm {
    font-size:12px
}

.search-link {
    cursor: pointer;
    color: #555;
}

.search-link:hover {
    color: #dd4b39;
}

.search-bar {
    opacity: 0;
    max-height: 0px;
}

.widthAcoes {
    width: 90px;
}

.fs-bt-acoes {
    font-size: 12px;
}

.pointer {
     cursor: pointer;
}

.uppercase {
    text-transform: uppercase;
}

/* .bg-hospital {
    background: url(./images/bg-hospital.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
} */