/* You can add global styles to this file, and also import other style files */

@import '../node_modules/primeicons/primeicons.css';
@import '../node_modules/primeng/resources/themes/nova-light/theme.css';
@import '../node_modules/primeng/resources/primeng.min.css';

html, body {
     height: 100%;
    };

body { 
    margin: 0; font-family: 'Roboto', sans-serif;
}

.search-link {
    cursor: pointer;
    color: #555;
}

.search-link:hover {
    color: #dd4b39;
}

.search-bar {
    opacity: 0;
    max-height: 0px;
}

.widthAcoes {
    width: 90px;
}

.fs-bt-acoes {
    font-size: 12px;
}

.pointer {
     cursor: pointer;
}

/* .bg-hospital {
    background: url(./images/bg-hospital.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
} */